PORT=5000
MONGODB_URI=mongodb+srv://assignment_user:servicehireassignment@cluster0.bdcu7fw.mongodb.net/smart-leads?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=changethissecretkey123456
JWT_EXPIRES_IN=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
